In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [3]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
df.shape

(265, 4)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name='lookup_taxi_data', con=engine))

CREATE TABLE lookup_taxi_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [8]:
df.head(n=0).to_sql(name='lookup_taxi_data', con=engine, if_exists='replace')

0

In [9]:
%time df.to_sql(name='lookup_taxi_data', con=engine, if_exists='append')

CPU times: user 44.2 ms, sys: 1.8 ms, total: 46 ms
Wall time: 179 ms

265